<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjxlog.mapper.DiaryMapper">

    <resultMap id="BaseResultMap" type="com.hjxlog.domain.Diary">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="mdContent" column="md_content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,md_content,
        status,create_time,update_time
    </sql>

    <resultMap id="ArchiveVoResultMap" type="com.hjxlog.api.vo.view.DiaryArchiveVo">
        <id column="time_line" property="timeLine"/>
        <collection property="viewDiaryVos" ofType="com.hjxlog.api.vo.view.ViewDiaryVo">
            <id column="id" property="id"/>
            <result column="content" property="content"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="getArchiveList" resultMap="ArchiveVoResultMap">
        SELECT DATE_FORMAT(create_time, '%Y年%m月') AS time_line, id, content, create_time
        FROM diary
        ORDER BY create_time DESC
    </select>
</mapper>
