html,
body,
#app {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    height: 14px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.8);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
